@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

*{
    box-sizing:border-box;
    font-family: 'Bellefair', serif;
    font-weight:300;
}

body,
html{
    background-color:#FDFDF6;
    width:100vw;
    min-height:100vh;
    margin:0rem;
    overflow-x:hidden;
    padding:0px;
}

.header-top{
  width:100%;
  height:65vh;
  background-image:url('/imgs/flower-shot.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment:fixed; 
}

.title-menu{
  display:flex;
  justify-content: center;
  align-items:center;
  width:100%;
  height:45vh;
  font-size:85px;
  text-shadow: 4px 4px black;
  color:white;
  font-family: 'Italiana', serif;
}
/*---------New Nav -------------- */
strong{
  font-size:30px;
  color:white;
  font-family: 'Italiana', serif;
  padding-left:10px;
}

.hamburger{
  display:flex;
  flex-direction:column;
  gap:8px;
  cursor:pointer;
  padding:10px;
  margin-right:-10px;
}

.lines{
  display:block;
  background-color:white;
  height:2px;
  width:35px;
}

.lines-rotate{
  background-color:#1C383E;
  border-radius:5px;
}

 /* Adding transform to the X */
 .hamburger.close {
  transform: rotate(180deg);
}

/* Styling the three lines
  to make it an X */
.hamburger.close .lines:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.close .lines:nth-child(2) {
  opacity: 0;
}

.hamburger.close .lines:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.nav-container{
  font-family:'Bellefair',serif;
  position:relative;
  padding:15px 35px;
  background-color:#455e51;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.548);
  z-index:2
}

.nav-container h1{
  color:#B66E57;
  font-size:35px;
  text-shadow: 2px 2px black;
}

.links-nav{
  gap:20px;
  display:flex;
  align-items:center;
  list-style-type: none;
  width:100%;
  flex-direction:column;
  justify-content:center;
  position:absolute;
  top:-400px;
  right:0;
  background-color:rgba(246, 244, 235, 0.9);
  padding: 15px 0;
  border-radius: 0 0 20px 20px;
  box-shadow:0px 2px 2px rgba(128, 128, 128, 0.363);
  font-size:35px;
}

.links-nav a{
  text-decoration: none;
  cursor:pointer;
  transition: 0.8s;
  color:#B68681;
}

.links-nav li{
  text-align:center;
}

.links-nav li a:hover{
  color:#1C383E;
  letter-spacing:3px;
}
.hide{
  top:85px;
}

  /*===================== FIRST CONTAINER ============ */

.top-about-section{
  width:100vw;
  height:72vh;
  background-color:#FDFDF6;
 
}
.girl-info{
  position:relative;
  margin-left:55px;
  width:40%;
  height:75%;
  float:left;
  font-size:25px;
}

h3{
  color:#994821;
}

.photo-about img{
  position:relative;
  left:10%;
  width:30%;
  border-radius:10%;
  border:10px solid #455e51;
}
/*======================== FUN FACTS ======================  */ 

.five-know{
  background-color:#455e51;
  width:100vw;
  height:45vh;
  color:white;
}

.fun-facts h2{
  font-family: 'Italiana', serif;
  font-size:50px;
  padding-left:28px;
  color:#FFE7CC;
}

.fun-facts p{
  font-size:25px;
  margin:15px;
}

.numbers-p{
  font-family: 'Italiana', serif;
  font-size:45px;
  float:left;
  padding:5px;
  color:#FFE7CC;
}

/*======================================FOOTER SECTION ============================= */

footer{
  width:100vw;
  height:auto;
  font-size:20px;
  text-align:center;
  color:rgb(0, 0, 0);
  background-color:#B66E57;
  line-height:2rem;
}
  
.social-items{
  display:flex;
  justify-content: center;
  align-items:center;
  color: #fff;
  text-align:center;
 }
  
.social-items img{
 text-align:center;
  color: #fff;
  width: 80px;
  height: 80px;
  opacity: 0.8;
  font-size: 1.4rem;
}
  
  
.list-social{
  display:flex;
  justify-content:center;
  padding: 0;
  margin-top: 0;
  font-size: 20px;
  line-height: 1.6;
  list-style: none;
  margin-bottom: 0;
}
  
.list-social a{
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
 }

 footer p{
  color:#662E27;
}

.list-social li{
  padding: 0 15px;
  display:inline-block;
}
  
.list-social a:hover{
  opacity: 1;
}
  
.copyright{
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  color: #FFE7CC;
}

.toTop{
  color:#662e27;
  text-decoration: none;
}

.toTop:hover{
  color:#455e51;
}

/* =====================Media Queries=========================== */

/* Small screens */
@media all and (min-width: 375px) and (max-width:768px) {

  .title-menu{
    font-size:25px;
    text-shadow:2px 2px black;
  }

  .nav-container h1 {
    font-size: 15px;
  }

  strong{
    font-size:18px;
  }

  .hide {
    top:60px;
  }

  .photo-about{
    display:none;
  }
  
  .girl-info{
    width:77%;
    font-size:18px;

  }
  .fun-facts h2{
    font-size:40px;
  }
  .fun-facts p,
  .numbers-p{
    font-size:17px;
    margin:0;
    padding:0;
    line-height:1.5em;
  }

  .list-social,
  .copyright,
  footer p{
    font-size:15px;
  }

}