@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


*{
  box-sizing: border-box;
  font-family: 'Bellefair',sans-serif;
  font-weight:300;
  text-size-adjust: auto;
}

body,
html{
  background-color:#EEE2DA;
  width:100vw;
  min-height:100vh;
  margin:0rem;
  padding:0px;
  overflow-x:hidden;
}

.header-top2{
 width:100vw;
 height:65vh;

}

.price-top{
  background-image:url('/imgs/untitled-118.jpeg');
  background-repeat:no-repeat;
  background-position:center;
  background-attachment:fixed;
  background-size:cover;
  height:75vh;
  width:100%;
}

.price-top h1{
  display:flex;
  justify-content:center;
  align-items:center;
  height:75vh;
  width:100%;
  color:white;
  text-shadow:2px 2px black;
  font-family: 'Italiana', serif;
  font-size:75px;
}

/*---------New Nav -------------- */
strong{
  font-size:30px;
  color:white;
  font-family: 'Italiana', serif;
  padding-left:10px;
  text-shadow: 2px 2px black;
}

.nav-container{
  height:24%;
  font-family:'Bellefair',serif;
  padding:15px 35px;
  background-color:#455e51;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.548);
  z-index:2
}

.nav-container span{
  color:#B66E57;
  font-size:35px;
  text-shadow: 2px 2px black;
}

.links-nav{
  gap:20px;
  display:flex;
  align-items:center;
  list-style-type: none;
  width:100%;
  flex-direction:column;
  justify-content:center;
  position:absolute;
  top: -400px;
  right:0;
  background-color:rgba(246, 244, 235, 0.9);
  padding: 15px 0;
  border-radius: 0 0 20px 20px;
  box-shadow:0px 2px 2px rgba(128, 128, 128, 0.363);
  font-size:35px;
}

.links-nav a{
  text-decoration: none;
  cursor:pointer;
  transition: 0.8s;
  color:#B68681;
}

.links-nav li{
  text-align:center;
}

.links-nav li a:hover{
  color:#1C383E;
  letter-spacing:3px;
}
.hide{
  top:85px;
}

.hamburger{
  display:flex;
  flex-direction:column;
  gap:8px;
  cursor:pointer;
  padding:10px;
  margin-right:-10px;
}

.lines{
  display:block;
  background-color:white;
  height:2px;
  width:35px;
}

.lines-rotate{
  background-color:#1C383E;
  border-radius:5px;
}

 /* Adding transform to the X */
 .hamburger.close {
  transform: rotate(180deg);
}

/* Styling the three lines
  to make it an X */
.hamburger.close .lines:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.close .lines:nth-child(2) {
  opacity: 0;
}

.hamburger.close .lines:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/*=========================Packages ======================= */

.main-price-container aside{
  width:100vw;
  margin:0;
  padding-top:15%;
  
}
.main-price-container h2{
  display:flex;
  justify-content:center;
  color:#455e51;
  font-size:40px;
  font-family: 'Italiana', serif;
}

.picture-container,
.words-container{
  display:inline-block;
}

img{
  display:block;
  width:255px;
  height:365px;
}

h3{
  font-size:45px;
  text-align:center;
  color:#455e51;
  border-bottom:2px solid #B66E57;
  font-family: 'Italiana', serif;
}
h4{
  position:relative;
  color:white;
  font-size:25px;
}

span{
  color:#B66E57;
  font-size:25px;
  display:flex;
  justify-content:center;
}

.elements-container{
  position:relative;
  left:10%;
  top:10%;
}

.picture-container{
  background: #455e51;
  margin: 25px 75px 15px;
  padding: 15px 15px 0px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}

.words-container{
  text-align: center;
  height:50%;
  width:50%;
  margin:1em;
  font-size:25px;
}


.love-container{
  padding-top:65px;
}

.love-container article{
  position:relative;
  text-align:center;
  width:100%;
  height:55px;
  padding:12px;
  color:white;
  text-align:center;
  font-size:25px;
  background-color:#B68681;
}

/*======================================FOOTER SECTION ============================= */
footer{
  width:100vw;
  height:auto;
  font-size:20px;
  text-align:center;
  color:rgb(0, 0, 0);
  background-color: #B66E57;
  line-height:2rem;
}
  
.social-items{
  display:flex;
  justify-content:center;
  align-items: center;
  color: #fff;
  text-align:center;
}
  
.social-items img{
  color: #fff;
  width: 80px;
  height: 80px;
  opacity: 0.8;
  font-size: 1.4rem;
}

  
.list-social{
  display:flex;
  justify-content:center;
  padding: 0;
  margin-top: 0;
  font-size: 20px;
  line-height: 1.6;
  list-style: none;
  margin-bottom: 0;
}
  
.list-social a{
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

footer p{
  color:#662E27;
}
  
.list-social li{
  padding: 0 15px;
  display:inline-block;
}
  
.list-social a:hover{
  opacity: 1;
}
  
.copyright{
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  color: #FFE7CC;
}

.toTop{
  color:#FFE7CC;
  text-decoration: none;
}

.toTop:hover{
  color:#455e51;
}

/* =====================Media Queries=========================== */

/* Small screens */
@media all and (min-width: 375px) and (max-width:768px) { 
 
  .price-top{
    max-width:100%;
    height:auto;
  }

  .price-top .price{
    font-size:45px;
  }

  .main-price-container aside{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    padding-top:-10%;
    margin-top:35%;
  }
  .elements-container{
    width:95%;
    display:flex;
    justify-content: center;
    margin-left:20px;
    padding-left:15px;
    flex-direction: column;

  }
  .elements-container,
  .words-container{
    font-size:17px;
  }

  .words-container span,
  .picture-container h4{
    font-size:20px;
  }

  h3{
    font-size:25px;
    
  }
  .picture-container img,
  .picture-container{
    display:none;
  }

  .love-container article{
    text-size-adjust:auto;
    font-size: 15px;
  }

  .nav-container h1 {
    font-size: 15px;
  }

  strong{
    font-size:18px;
  }

  .nav-container span{
    font-size:25px;
  }

  .hide {
    top:60px;
  }

  .list-social,
  .copyright,
  footer p{
    font-size:15px;
  }

}