@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    font-weight:300;
    text-size-adjust:auto;
}

body,
html{
    width:100vw;
    height:100vh;
    margin:0rem;
    padding:0px;
    overflow-x:hidden;
}


/* ================ Header Section ======================== */
.top-container{
    width:100vw;
    height:100%;
    clear:both;
}
.top-container:after{
    content:"";
    display:table;
    clear:both;
}


.top-picture{
    position:relative;
    float:left;
    height:100%;
    width:55%;
    background-image: url('/imgs/CZEngagement01.jpg');
    background-position:center;
    background-size:cover;
    background-attachment:100% 100%;
    background-repeat: no-repeat;
}

.color-top{
  float:right;
  height:100%;
  width:45%;
  display:flex;
justify-content: center;
align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-color:#1C383E;
  opacity:.9;
  overflow:hidden;
} 

.color-top h2{
    display:flex;
    justify-content: center;
    align-items: center;
    top:-5%;
    height:100%;
    width:95%;
    position:relative;
    color:#EDF1D6;
    text-align:center;
    font-size:60px;
}

/*---------New NAV -------------- */
  
  strong{
    font-size:30px;
    color:white;
    font-family: 'Italiana', serif;
    padding-left:10px;
  }
  
  .hamburger{
    display:flex;
    flex-direction:column;
    gap:8px;
    cursor:pointer;
    padding:10px;
    margin-right:-10px;
  }
  
  .lines{
    display:block;
    background-color:white;
    height:2px;
    width:35px;
  }
  
  .lines-rotate{
    background-color:#1C383E;
    border-radius:5px;
  }
  
   /* Adding transform to the X */
   .hamburger.close {
    transform: rotate(180deg);
  }
  
  /* Styling the three lines
    to make it an X */
  .hamburger.close .lines:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.close .lines:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.close .lines:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  
.nav-container{
    font-family:'Bellefair',serif;
    position:relative;
    padding:15px 35px;
    background-color:#455e51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.2);
    z-index:2;
}

  .nav-container h1{
    color:#B66E57;
    font-size:35px;
  }
  
  .links-nav{
    gap:20px;
    display:flex;
    align-items:center;
    list-style-type: none;
    width:100%;
    flex-direction:column;
    justify-content:center;
    position:absolute;
    top:-400px;
    right:0;
    background-color:rgba(246, 244, 235, 0.9);
    padding: 15px 0;
    border-radius: 0 0 20px 20px;
    box-shadow:0px 2px 2px rgba(128, 128, 128, 0.363);
    font-size:35px;
  }
  
  .links-nav a{
    text-decoration: none;
    cursor:pointer;
    transition: 0.8s;
    color:#B68681;
  }
  
  .links-nav li{
    text-align:center;
  }
  
  .links-nav li a:hover{
    color:#1C383E;
    letter-spacing:3px;
  }
  .hide{
    top:100px;
  }


/* ================ Who We Are ======================== */
.who-we-are{
  display:flex;
  justify-content: center;
  align-items: center;
    clear:both;
    width:100vw;
    height:90vh;
    background-color:#EEECE9;
}

.outer-container{
    position:relative;
    margin:0 auto;
    top:5%;
    display:flex;
    width:95vw;
    height:90vh;
}

.container-two{
    height:50px;
    font-size:23px;
    text-align:center;
}
  
.container-two h2{
    position:relative;
    top:5%;
    font-family: 'Italiana', serif;
    font-size:45px;
    color:#B66E57;
}

.image-container{
    position:relative;
    width:100%;
    left:-5%;
    display:flex;
    align-items:center;
    justify-content: flex-start;
}

.buns-drink{
    position:relative;
    top:75px;
    left:25%;
    width:35%;
    border-radius:15px;
    border:8px solid white;
    z-index:1;
}
.bunnie{
    position:relative;
    width:50%;
    margin:-15px;
    padding:5px;
    border:1px solid black;
}

.office-quote h3{
 position:relative;
 color:#557153;
 font-family: 'Italiana', serif;
 text-align:center;
 font-size:55px;
display:flex;
justify-content: center;
}

.about-btn{
  padding:5px;
    font-size:24px;
    border-radius:10px;
    background-color:#B66E57;
}

.about-btn a{
    text-decoration: none; 
    color:#EDF1D6;
}

.about-btn:hover{
    cursor:pointer;
    background-color:#AB4F23;
    color:white;
}

/* ================ INFO-EXCITED ======================== */
.second-container{
    height:75vh;
    width:100%;
    background-image:url('/imgs/background.jpeg');
    background-size:cover;
    opacity:0.9;
}
.info-container{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
}
.first-photo{
    position:relative;
    height:100%;
    width:30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url('/imgs/sky.jpeg');
}
.third-photo{
    height:100%;
    width:25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url('/imgs/02-Dallas.jpeg');
}

.long-photo{
    position:relative;
    height:100%;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url('/imgs/22\ 9.15.16\ AM.jpeg');
}
.layer{
    border-radius:15px;
    background-color: white;
    opacity:.8;
    }

.layer p{
    margin:4%;
    text-align:center;
    color:#AB4F23;
    font-size:25px;
}


/* ================ GALLERY ======================== */
.flex-container{
    display:flex;
    width:100%;
    height:100%;
    background-color:#D1C7B8;
}

.flex-center{
    justify-content:center;
}

.gallery-item-container{
    position:relative;
    top:10%;
    left:-7%;
    max-width: 100%;
    max-height:1090px;
    overflow:hidden;
    border-radius:10px;
    margin: 1%;
}

.gallery-item-description{
    margin:0;
    opacity:0;
    position:absolute;                                  
    left: 0;
    top:-5%;
    width:100%;  
    font-size:30px;
    height:75%;
    background-color: #fff;
    text-align:center;
    transition: opacity 0.8s ease-in-out;
}

.gallery-item-description a{
    display:block;
    max-width:300px;
    margin: 200px auto;
    padding: 20px 0;
    color:#557153;
    text-decoration:none;
    border-top: 1px solid rgba(153, 153, 153, 0.72);
    border-bottom: 1px solid rgba(153, 153, 153, 0.72);
}

.gallery-img{
    width:100%;
    height:70%;
}

.gallery-item-container:hover .gallery-item-description{
    opacity:1;
    cursor:pointer;
}

.gallery h2{
    position:relative;
    top:-45px;
    left:65px;
    transform: rotate(-10deg); 
    font-family: 'Italiana', serif;
    color:#786F59;
    font-size:50px;
}

/*======================================EMAIL SECTION ============================= */
.email-section{
    height:155px;
    text-align:center;
    background-color:#455e51;
    color:white;
    padding:5px;
    font-size:20px;
}

.email-btn{
    font-size:24px;
    background-color:#662E27;
    padding:5px;
    border-radius:10px;
    color:white;
}
.email-btn:hover{
    background-color:#AB4F23;
    color:white;
    cursor:pointer;
}
/*======================================FOOTER SECTION ============================= */
footer{
    width:100vw;
    height:auto;
    font-size:20px;
    text-align:center;
    color:rgb(0, 0, 0);
    background-color: #B66E57;
  }
  
.social-items{
    color: #fff;
    text-align:center;
 }
  
.social-items img{
    width: 80px;
    height: 80px;
    opacity: 0.8;
    font-size: 1.4rem;
}
  
.list-social{
    display:flex;
    justify-content:center;
    padding: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 1.6;
    list-style: none;
    margin-bottom: 0;
}
  
.list-social a{
  color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

footer p{
  color:#662E27;
}

.list-social li{
    padding: 0 15px;
    display:inline-block;
}
  
.list-social a:hover{
    opacity: 1;
}
  
.copyright{
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    color: #FFE7CC;
}


/* =====================Media Queries=========================== */

/* Small screens */
@media all and (min-width: 375px) and (max-width:768px) {
  .top-picture {
    width: 100%;
    height:45%;
    float: none;
  }

  .color-top {
    width: 100%;
    height:45%;
  }

  .color-top h2 {
    margin:5%;
    font-size: 25px;
  }

  .nav-container h1 {
    font-size: 20px;
  }
  strong{
    font-size:18px;
  }

  .hide {
    top:60px;
  }

  .image-container{
    display:none;
  }

  .container-two {
    display:flex;
    flex-direction:column;
    font-size:15px;
    margin:2%;
  }

  .office-quote h3 {
    visibility:hidden;
  }
  .about-btn{
    width:55%;
    margin:5%;
    font-size:15px;
    border-radius:10px;
    background-color:#B66E57;
  }

  .info-container {
    flex-direction: row;
  }

  .first-photo,
  .third-photo {
   width:0%;
   border:none;
   display:none;
  }

  .long-photo {
    width: 100%;
  }

  .layer {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .layer p {
    font-size: 18px;
  }

  .list-social,
  .copyright,
  footer p{
    font-size:15px;
  }

}